body {
    background-color:rgb(124, 137, 172);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
  }
  
  li a {
    color: white;
    text-decoration: none;
  }

  .linkbox {
    background-color: rgb(79, 103, 170);
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }