body {
    background-image: url('../Pictures/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: rgba(255, 255, 255, 0.726);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
    display: block;
    color: rgba(255, 255, 255, 0.726);
    text-align: center;
    padding: 14px 16px;
  }
  
  li a {
    color: rgba(255, 255, 255, 0.726);
    text-decoration: none;
  }

  .linkbox {
    background-color: rgb(79, 103, 170);
    color: rgba(255, 255, 255, 0.726);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }